# Build artifacts
/out/
/build/
/CMakeFiles/
/external/
CMakeCache.txt
data/
*.lgf
*.rb
*.graphml
*.obj
*.o
*.a
*.lib
*.exp
*.pdb
*.ilk
*.dll
*.so
*.dylib
TestResults/
**/TestResults/
*.trx
*.coverage
*.coveragexml
_deps/

# IDEs
.vscode/
.idea/
.vs/

# Tools
compile_commands.json
tools/rb2lemon/tmp_lgf/


# VS test & coverage

coverage*.xml
coverage_html/
default*.profraw
*.profdata
