# Build artifacts
/out/
/build/
/CMakeFiles/
/external/
CMakeCache.txt
*.obj
*.o
*.a
*.lib
*.exp
*.pdb
*.ilk
*.dll
*.so
*.dylib

# IDEs
.vscode/
.idea/
.vs/

# Tools
compile_commands.json

tools/rb2lemon/tmp_lgf/
